.contact {
    display: grid;
}

.form>* {
    width: 70%;
    margin-bottom: 25px;
    // font-family: 'saira', sans-serif;
    font-size: 12px;
    padding: 5px;

    & input {
        height: 36px;
    }

    & textarea {
        height: 120px;
    }
}


#id-submit {
    font-size: 18px;
    line-height: 40px;
    background-color: rgb(77, 74, 74);
    color: white;
    border: none;
}

.social-media {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    // font-family: saira condensed, sans-serif;

    & img {
        height: 5em;
        float: left;
    }

    & a {
        padding-left: 10px;
    }
}