.introduction {
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
    // grid-template-columns: ;

    font-family: "Montaga", sans-serif;

    position: relative;
    background-image: url(../assets/img/motto.jpg);
    background-size: cover;
    background-position: center right;
    background-attachment: fixed;
    z-index: -1; //does not overlap at the nav bar

    & h1 {
        padding-top: 100px;
        text-transform: uppercase;
        text-align: center;
        font-weight: 900;
    }

    &__photo {
        width: 35%;
        // float: left;
        margin: 20px auto;
        border-radius: 50%;
    }

    &__description {
        font-size: 1.5rem;
        text-align: justify;
        color: white;
        padding: 0 45px;
    }
}