.introduction {
    display: grid;
    grid-template-rows: 1fr 3fr 2fr;
    // grid-template-columns: ;
    padding-top: 100px;
    height: 160vh;
    font-family: "Montaga", sans-serif;

    position: relative;
    background-image: url(../assets/img/motto.jpg);
    background-size: cover;
    background-position: center right;
    background-attachment: fixed;
    z-index: -1; //does not overlap at the nav bar

    & h1 {
        text-transform: uppercase;
        text-align: center;
    }

    &__photo {
        width: 50%;
        // float: left;
        margin: 50px auto;
        border-radius: 50%;
    }

    &__description {
        padding: 35px 30px;
        font-size: 1.6rem;
        text-align: justify;
        color: white;
    }
}