@import "~normalize.css";

@import "_variables";
@import "modules/hello.scss";

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.article {




  &__description {
    margin: auto 30px;
  }
}


body {
  background: rgb(238, 174, 202);
  background: radial-gradient(circle,
      rgba(238, 174, 202, 1) 0%,
      rgba(180, 203, 230, 1) 100%);
  font-family: 'Titillium Web', sans-serif;
}

.main {
  max-width: 1000px;
  margin: 60px auto 0 auto;
  display: grid;
}

.menu {
  max-width: 1000px;
  padding: 16px;
  display: none;

  &--open {
    display: block;
    background-color: #fff;
  }

  &__page {
    display: block;
    margin: 0 0 16px;

    &--homepage {
      font-weight: bolder;
    }
  }
}

.hamburger {
  position: absolute;
  top: 16px;
  right: 16px;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  min-height: 60px;
}

.title {
  /* margin-bottom: 20px; */
  background-color: rgb(192, 107, 107);
  font-family: 'Montaga', sans-serif;
  text-transform: uppercase;
  text-align: center;
}

/* section.introduction {
  width: 90%;
  margin: 20px 10px;
} */

.introduction__photo {
  max-width: 40%;
  float: left;
  margin: 0 10px;
  border-radius: 50%;
}

.italics {
  font-style: italic;
}

@media (min-width: 768px) {
  .menu {
    display: flex;
    justify-content: space-around;
  }

  .menu__page {
    padding: 10px;
    text-decoration: none;
    background-color: thistle;
    line-height: 26px;
    font-size: 15px;
    border: 1px solid slateblue;
  }
}