@import "~normalize.css";
@import "_variables";
@import "./modules/section-hobby.scss";
@import "./modules/nav-menu.scss";
@import "./modules/section-articles.scss";
@import "./modules/section-introduction.scss";
@import "./modules/section-contact.scss";
@import "./modules/css-projects.scss";

:root {
  --darkmode-background-color: rgb(34, 33, 33);
  --darkmode-text-color: rgb(190, 246, 250);
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

body {
  max-width: 1600px;
  background: rgb(238, 174, 202);
  background: radial-gradient(circle,
      rgba(238, 174, 202, 1) 0%,
      rgba(180, 203, 230, 1) 100%);
  font-family: "Titillium Web", sans-serif;
}

.main {
  margin: 60px auto 0 auto;
  display: grid;
}


.italics {
  font-style: italic;
}

.darkmode {
  background-color: var(--darkmode-background-color);
  color: var(--darkmode-text-color);
}

h1,
h2,
h3,
h4 {
  text-align: center;
}

footer {
  background-color: rgba(180, 203, 230, 1);
  ;
  color: white;
  // font-family: saira, sans-serif;
  text-align: center;
  padding: 20px;
  font-size: 20px;
}

.project {
  width: 100vw;
}